@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic-ext');
@font-face {
	font-family: 'Focus';
	src: url('../fonts/Focus-Regular[2].eot');
	src: local('☺'), url('../fonts/Focus-Regular[2].woff') format('woff'), url('../fonts/Focus-Regular[2].ttf') format('truetype'), url('../fonts/Focus-Regular[2].svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Focus';
	src: url('../fonts/Focus-Medium.eot');
	src: local('☺'), url('../fonts/Focus-Medium.woff') format('woff'), url('../fonts/Focus-Medium.ttf') format('truetype'), url('../fonts/Focus-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

        @font-face {
            font-family: 'Focus';
            src: url('../fonts/Focus-Italic.eot');
            src: local('☺'), url('../fonts/Focus-Italic.woff') format('woff'), url('../fonts/Focus-Italic.ttf') format('truetype'), url('../fonts/Focus-Italic.svg') format('svg');
            font-weight: normal;
            font-style: italic;
        }
        
            

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive;
 */
*{
    box-sizing: border-box;
}
.wrapper{
    max-width: 1264px;
    margin: 0 auto;
}
.header__top-burger{
    display: none;
}
.header__top-burger__menu a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
}
.header__top-burger__menu span{
    background: #898691;
    height: 3px;
}
#header{
    padding-top: 25px;
    padding-bottom: 142px;
    background: url(../img/header-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 750px;
}
.header__top{
display: flex;
justify-content: space-between;
align-items: center;
min-height: 79px;
}
.header__top-logo{
    display: inline-block;
}
.header__top-logo img{
    width: 100%;
    height: 75px;
}
.header__top-menu ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    font-family: 'Focus';
}
.header__top-menu a{
    text-decoration: none; 
    color: #fff;
    padding-left: 35px;

}
.header__top-menu a:hover{
    color: #fb5231;
}
.header__center-text{
    font-family: 'Marck Script', cursive;
    font-weight: normal;
    font-size: 90px;
    color: #fff;
    text-align: center;
    margin-top: 160px;
    padding-bottom: 60px;
    margin-bottom: 34px;
    background: url(../img/header-decor-line.png) no-repeat center bottom;
}
.header__center-btn{
    padding-right: 20px;
    text-align: center;
}
.header__center-btn a{
    text-decoration: none;
    color: #fff;
    font-family: 'Focus';
    font-size: 18px;
    border: 1px solid #bab9b5;
    padding: 20px 65px 15px 65px;
    background: rgba(255, 255, 255, 0.278);
    display: inline-block;
}
.header__center-btn a:nth-child(2){
    padding: 20px 75px 15px 75px;
}
.header__center-btn a + a{
    margin-left: 30px;
}
.header__center-btn a:hover{
    background: rgba(251, 82, 49, 0.702);
    border-color: #fb5231;
}
.about__story{
    background: url(../img/about-bg0.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    min-height: 710px;
}
.about__story-title{
    padding-top: 105px;
    font-size: 36px;
    color: #fb5231;
    font-family: 'Marck Script', cursive;
    padding-bottom: 40px;
    background: url(../img/about-decor-1.png) no-repeat center bottom;
}
.about__story-text{
    max-width: 510px;
    font-family: 'Focus';
    font-size: 16px;
    line-height: 24px;
    color: #4c4c4c;
    margin: 25px auto 40px;
}
.about__ingradient-inner{
    display: flex;
    align-items: center;
   flex-wrap: wrap; 
}
.about__ingradient-descFirst{
    flex-basis: 50%;
}
.about__ingradient-descSecond{
    flex-basis: 50%;
    background: url(../img/about-bg.jpg) no-repeat center center;
    background-size: cover ;
    text-align: center;
    padding: 0px 85px 178px;
}
.about__ingradient-descSecond-title{
    font-size: 36px;
    color: #fff;
    font-family: 'Marck Script', cursive;
    margin-top: 180px;
    padding-bottom: 40px;
    background: url(../img/ingradientDecor.png) no-repeat center bottom;

}
.about__ingradient-descSecond-text{
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: 'Focus';
}
.about__ingradient-descSecond-img{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.about__ingradient-descSecond-img1{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #cf6b5d;
    background: url(../img/wheat.jpg) no-repeat;
    background-position: -42px -30px;
}
.about__ingradient-descSecond-img2{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #cf6b5d;
    background: url(../img/spice.jpg) no-repeat;
    background-position: -43px -84px;;
}
.about__ingradient-descSecond-img3{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #cf6b5d;
    background: url(../img/bread.jpg) no-repeat center center;
}
.menu{
    background: url(../img/menu-bg.jpg) no-repeat center center;
    background-size: cover;
}
.menu__inner{
    display: flex;
    padding: 104px 25px 90px 160px;
    justify-content: space-between;

}
.menu__inner-box1,
.menu__inner-box2{
    max-width: 480px;
    width: 100%;
}
.menu__title{
    font-size: 36px;
    line-height: 24px;
    font-family: 'Marck Script', cursive;
    color: #fff;
    padding-bottom: 50px;
    background: url(../img/about-decor-1.png) no-repeat center bottom;
    text-align: center;
    margin-bottom: 30px;
}
.menu__items-name,
.menu__items-cost{
    font-size: 21px;
    line-height: 24px;
    font-family: 'Focus';
    font-weight: 500;
    color: #fff;
}
.menu__items-name{
    position: relative;
}
.special{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
    max-width: 69px;
    height: 22px;
    background: #bf4434;
    right: -72px;
    bottom: 50%;
    padding: 0 13px;
}
.menu__items-name-cost{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 15px;
   
}
.menu__items-description{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: 'Focus';
    letter-spacing: normal;
    padding-bottom: 15px;
    background: url(../img/line.png) no-repeat bottom center;
}
.menu__inner-appetiters,
.menu__inner-startes{
    margin-bottom: 65px;
}
.bgOn{
    background-image: none;
    padding-bottom: 0;
}
.quest__review-inner{
    padding: 120px 0 140px;

}
.quest__review-title{
    font-family: 'Marck Script', cursive;
    color: #333333;
    font-size: 36px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 45px;
    background: url(../img/about-decor-1.png) no-repeat bottom center,
                url(../img/quest.png) no-repeat top center;
}
.quest__review-text{
    max-width: 950px;
    margin: 40px auto 0;
    text-align: center;
    font-family: 'Focus';
    font-size: 25px;
    line-height: 45px;
    color: #1a1f3b;
}
.quest__review-stars{
    font-size: 41px;
    line-height: 45px;
    color: #1a1f3b;
    font-family: 'Marck Script', cursive;
    padding-bottom: 55px;
    margin-top: 65px;
    text-align: center;
    background: url(../img/stars.png) no-repeat bottom center;
}
.quest__form{
    background: url(../img/form-bg.jpg) no-repeat center center;
    background-size: cover;
}
.quest__form-img{
    display: flex;
    margin-right: 100px;
}
.quest__form-inner{
    display: flex;
    padding: 100px 70px 100px 90px;
}
.quest__form-imgFirst{
    margin-right: 30px;
}
.quest__form-box-title{
    font-size: 36px;
    line-height: 24px;
    color: #fb5231;
    font-family: 'Marck Script', cursive;
    padding-bottom: 40px;
    text-align: center;
    background: url(../img/about-decor-1.png) no-repeat bottom center;
}
.quest__form-box-text{
    margin-top: 30px;
   /*  margin-bottom: 100px; */
    font-size: 16px;
    line-height: 24px;
    color: #4c4c4c;
    font-family: 'Focus';
    text-align: center;
    padding: 0 10px;
}
.quest__form-box{
    display: flex;
    flex-direction: column;
}
.quest__form-box form{
    margin-top: auto;
}
.form__inner-box{
    display: flex;
    justify-content: space-between;
}
.form__inner-left,
.form__inner-right{
    max-width: 200px;
    width: 100%;
}
.form__inner label,
.form__inner input{
    display: block;
    width: 100%;
}
.form__inner label{
    font-size: 14px;
    font-family: 'Focus';
    color: #fb5231;
}
.form__inner input{
    margin-bottom: 30px;
    height: 36px;
    border: 1px solid #c8c6c6;
    padding: 0 15px;
    background: #f0f1f2;
    font-family: 'Focus';
    font-style: italic;
    font-size: 12px;
    color: #a4a4a4;
}
input[type="date"]{
   background: #f0f1f2 url(../img/date-i.png) no-repeat ; 
    background-position: 96%;
    font-family: 'Marck Script', cursive!important; 
    font-size: 16px!important;
    color: #a4a4a4;
}
input[type="number"]{
    background: #f0f1f2 url(../img/numder-i.png) no-repeat;
    background-position: 96%;
}
input:focus {
    border-color: red;
}
.form__inner-bottom{
    text-align: center;
}
.form__inner-bottom button{
    max-width: 200px;
    padding: 9px 55px;
    color: #fff;
    background: #fb5231;
    border: none;
    font-family: 'Focus';
    font-size: 16px;
}
#footer{
    background: url(../img/footer-bg.jpg) no-repeat center center;
    background-size: cover;
}
.footer_inner{
    padding: 58px 0px 52px;
}
.footer_inner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contacts-phone,
.footer__contacts-map{
    padding-top: 35px;
    text-align: center;
    color: #75767d;
    font-family: 'Focus';
    font-size: 13px;
    line-height: 22px;
}
.footer__contacts-social-logo{
    margin-bottom: 35px;
}
.footer__contacts-social-box a{
    display: inline-block;
    text-align: center;
    width: 33px;
    height: 33px;
    background: #1a1e36;
    border-radius: 50%;
    padding-top: 10px;
}
.footer__contacts-social-box a:hover{
    background: #fb5535;
}
.footer__contacts-phone{
    background: url(../img/phone-i.png) no-repeat  center top;
    max-width: 130px;
}
.footer__contacts-map{
    max-width: 200px;
    background: url(../img/map-i.png) no-repeat  center top;
}
.footer_copyright{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #636365;
    padding-top: 30px;
    padding-right: 75px;
}

